# IDEs and editors
/.idea

# System Files
.DS_Store
Thumbs.db

# Yarn 3
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/frontend/public/static
packages/frontend/build/
packages/backend/.env
packages/backend/build
packages/backend/data/*

