{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-list-comma-newline-after": "never-multi-line",
    "no-empty-source": null
  },
  "ignoreFiles": [
    "**/assets/**",
    "node_modules/**",
    "dist/**"
  ]
}
