{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true
    },
    "rules": {
        "no-unused-vars": ["error", { "vars": "local", "args": "after-used", "ignoreRestSiblings": false }],
        "no-console": ["error", { allow: ["log", "debug", "warn", "error"] }]
    }
}