.person-card {
  background-color: white;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.person-card img {
  height: 100%;
  width: 50px;
  object-fit: cover;
  border-radius: 3px 0 0 3px;
}

.person-card span {
  margin: 20px;
  user-select: none;
}
