/* Table */
table, th, td, tr {
}

th, td, tr {
    border: 1px solid #ddd;
    padding: 5px;
}

th, td {
    text-align: left;
    vertical-align: top;
}

td:hover {
    /* background-color: azure; */
}


/* Paragraph */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
